body {
  background: rgb(73, 73, 73);
  color: rgb(226, 226, 226);
}

.character-info {
  height: 10rem;
}

.your-team {
  height: 10rem;
}

#search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}

.button-div {
  text-align: center;
}

.add-button {
  margin: 2rem 0;
}

table {
  border-spacing: 1rem;
  width: 33rem;
  /* margin-left: 6rem; */
}

.delete:hover {
  cursor: pointer;
  color: red;
}

.alert {
  background: blue;
  height: 2rem;
  visibility: hidden;
  color: white;
  text-align: center;
}

.failure {
  background: red;
}

.success {
  background: green;
}

.filter-list {
  z-index: 2;
  background: grey;
  position: fixed;
  top: 8.1rem;
  list-style: none;
  width: 9.25rem;
  padding-left: 0.8rem;
}

.filter-list li {
  line-height: 1.45rem;

}

.filter-list li:hover {
  cursor: pointer;
  color: rgb(59, 59, 59);
}

thead td {  
  font-weight: bold;
}

h1 {
  text-align: center;
}

.btn { 
  width: 10rem;
  padding: 6px 0;
}

.btn:hover {
  cursor: pointer;
  background: rgb(180, 180, 180);
  color: white;
  border: 1.5px solid grey;
}

#input {
  padding: 6px;
}