body {
  background: rgb(73, 73, 73);
  color: rgb(226, 226, 226);
}

.character-info {
  height: 10rem;
}

.your-team {
  height: 10rem;
}

#search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}

.button-div {
  text-align: center;
}

.add-button {
  margin: 2rem 0;


}

table {
  border-spacing: 1rem;
  width: 33rem;
  margin-left: 13rem;
}

.delete:hover {
  cursor: pointer;
}

.alert {
  background: blue;
  height: 2rem;
  visibility: hidden;
}